<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3428</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.font.userData</key>
    <dict>
      <key>GSDimensionPlugin.Dimensions</key>
      <dict>
        <key>m01</key>
        <dict>
          <key>HH</key>
          <string>75</string>
          <key>HV</key>
          <string>100</string>
          <key>nV</key>
          <string>90</string>
          <key>tH</key>
          <string>80</string>
        </dict>
      </dict>
      <key>GSDontShowVersionAlert</key>
      <integer>1</integer>
    </dict>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.master.name</key>
    <string>Medium</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <true/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>emspace</string>
      <string>figurespace</string>
      <string>enspace</string>
      <string>threeperemspace</string>
      <string>fourperemspace</string>
      <string>space</string>
      <string>thinspace</string>
      <string>hairspace</string>
      <string>nbspace</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>question</string>
      <string>questiondown</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>slash</string>
      <string>backslash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bar</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>minute</string>
      <string>second</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quoteright</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>guillemetleft</string>
      <string>gillemetleft</string>
      <string>guillemetright</string>
      <string>asterisk</string>
      <string>asterism</string>
      <string>paragraph</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>section</string>
      <string>ampersand</string>
      <string>ampersand.alt</string>
      <string>trademark</string>
      <string>servicemark</string>
      <string>registered</string>
      <string>copyright</string>
      <string>soundrecording</string>
      <string>at</string>
      <string>leftArrow</string>
      <string>rightArrow</string>
      <string>leftRightArrow</string>
      <string>upArrow</string>
      <string>downArrow</string>
      <string>upDownArrow</string>
      <string>northEastArrow</string>
      <string>southEastArrow</string>
      <string>southWestArrow</string>
      <string>northWestArrow</string>
      <string>grave</string>
      <string>acute</string>
      <string>acutePolish</string>
      <string>circumflex</string>
      <string>tilde</string>
      <string>dieresis</string>
      <string>ring</string>
      <string>breve</string>
      <string>macron</string>
      <string>dotaccent</string>
      <string>caron</string>
      <string>hungarumlaut</string>
      <string>commaccent.alt</string>
      <string>caronSlovak</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>commaccent</string>
      <string>grave.cap</string>
      <string>acute.cap</string>
      <string>acutePolish.cap</string>
      <string>circumflex.cap</string>
      <string>tilde.cap</string>
      <string>dieresis.cap</string>
      <string>ring.cap</string>
      <string>breve.cap</string>
      <string>macron.cap</string>
      <string>dotaccent.cap</string>
      <string>caron.cap</string>
      <string>hungarumlaut.cap</string>
      <string>colon.cap</string>
      <string>semicolon.cap</string>
      <string>hyphen.cap</string>
      <string>endash.cap</string>
      <string>emdash.cap</string>
      <string>leftArrow.cap</string>
      <string>rightArrow.cap</string>
      <string>leftRightArrow.cap</string>
      <string>questiondown.cap</string>
      <string>exclamdown.cap</string>
      <string>slash.cap</string>
      <string>backslash.cap</string>
      <string>parenleft.cap</string>
      <string>parenright.cap</string>
      <string>bracketleft.cap</string>
      <string>bracketright.cap</string>
      <string>braceleft.cap</string>
      <string>braceright.cap</string>
      <string>bar.cap</string>
      <string>guilsinglleft.cap</string>
      <string>guilsinglright.cap</string>
      <string>guillemetleft.cap</string>
      <string>guillemetright.cap</string>
      <string>at.cap</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>I.alt</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Abreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>Cacute</string>
      <string>CacutePolish</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Ebreve</string>
      <string>Emacron</string>
      <string>Ecaron</string>
      <string>Eogonek</string>
      <string>Gcircumflex</string>
      <string>Gdotaccent</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Hcircumflex</string>
      <string>Hbar</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Itilde</string>
      <string>Idieresis</string>
      <string>Ibreve</string>
      <string>Imacron</string>
      <string>Idotaccent</string>
      <string>Iogonek</string>
      <string>IJ</string>
      <string>IJacute</string>
      <string>Igrave.alt</string>
      <string>Iacute.alt</string>
      <string>Icircumflex.alt</string>
      <string>Itilde.alt</string>
      <string>Idieresis.alt</string>
      <string>Ibreve.alt</string>
      <string>Imacron.alt</string>
      <string>Idotaccent.alt</string>
      <string>Iogonek.alt</string>
      <string>IJ.alt</string>
      <string>IJacute.alt</string>
      <string>Jcircumflex</string>
      <string>Kcommaaccent</string>
      <string>Lacute</string>
      <string>Ldot</string>
      <string>Lcaron</string>
      <string>Lslash</string>
      <string>Lcommaaccent</string>
      <string>Nacute</string>
      <string>NacutePolish</string>
      <string>Ntilde</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Eng</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>OacutePolish</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Obreve</string>
      <string>Omacron</string>
      <string>Ohungarumlaut</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>OE</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Sacute</string>
      <string>SacutePolish</string>
      <string>Scircumflex</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>Germandbls</string>
      <string>Tcaron</string>
      <string>Tbar</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Utilde</string>
      <string>Udieresis</string>
      <string>Uring</string>
      <string>Ubreve</string>
      <string>Umacron</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Ygrave</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Zacute</string>
      <string>ZacutePolish</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
      <string>Schwa</string>
      <string>Thorn</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>abreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>cacute</string>
      <string>cacutePolish</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eth</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>ebreve</string>
      <string>emacron</string>
      <string>edotaccent</string>
      <string>ecaron</string>
      <string>eogonek</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gbreve</string>
      <string>hcircumflex</string>
      <string>hbar</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>itilde</string>
      <string>idieresis</string>
      <string>ibreve</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>idotless</string>
      <string>idotaccent</string>
      <string>ij</string>
      <string>ijacute</string>
      <string>jcircumflex</string>
      <string>jdotless</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
      <string>lacute</string>
      <string>ldot</string>
      <string>lcaron</string>
      <string>lslash</string>
      <string>lcommaaccent</string>
      <string>nacute</string>
      <string>nacutePolish</string>
      <string>ntilde</string>
      <string>ncaron</string>
      <string>napostrophe</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>oacutePolish</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>obreve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>oe</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>sacute</string>
      <string>sacutePolish</string>
      <string>scircumflex</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>germandbls</string>
      <string>tcaron</string>
      <string>tbar</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>utilde</string>
      <string>udieresis</string>
      <string>uring</string>
      <string>ubreve</string>
      <string>umacron</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>wacute</string>
      <string>wgrave</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>yacute</string>
      <string>ygrave</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>zacute</string>
      <string>zacutePolish</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
      <string>schwa</string>
      <string>thorn</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_idotaccent</string>
      <string>f_f</string>
      <string>f_b</string>
      <string>f_h</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_t</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>f_f_idotaccent</string>
      <string>f_f_b</string>
      <string>f_f_h</string>
      <string>f_f_j</string>
      <string>f_f_k</string>
      <string>f_f_t</string>
      <string>t_t</string>
      <string>t_z</string>
      <string>f.calt</string>
      <string>f_f.calt</string>
      <string>f_f.liga</string>
      <string>f_f_i.liga</string>
      <string>f_f_l.liga</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero</string>
      <string>zero.slash</string>
      <string>one.plf</string>
      <string>two.plf</string>
      <string>three.plf</string>
      <string>four.plf</string>
      <string>five.plf</string>
      <string>six.plf</string>
      <string>seven.plf</string>
      <string>eight.plf</string>
      <string>nine.plf</string>
      <string>zero.plf</string>
      <string>zero.plfslash</string>
      <string>one.tlf</string>
      <string>two.tlf</string>
      <string>three.tlf</string>
      <string>four.tlf</string>
      <string>five.tlf</string>
      <string>six.tlf</string>
      <string>seven.tlf</string>
      <string>eight.tlf</string>
      <string>nine.tlf</string>
      <string>zero.tlf</string>
      <string>zero.tlfslash</string>
      <string>one.ptf</string>
      <string>two.ptf</string>
      <string>three.ptf</string>
      <string>four.ptf</string>
      <string>five.ptf</string>
      <string>six.ptf</string>
      <string>seven.ptf</string>
      <string>eight.ptf</string>
      <string>nine.ptf</string>
      <string>zero.ptf</string>
      <string>zero.ptfslash</string>
      <string>one.sc</string>
      <string>two.sc</string>
      <string>three.sc</string>
      <string>four.sc</string>
      <string>five.sc</string>
      <string>six.sc</string>
      <string>seven.sc</string>
      <string>eight.sc</string>
      <string>nine.sc</string>
      <string>zero.sc</string>
      <string>zero.scslash</string>
      <string>plus</string>
      <string>minus</string>
      <string>divide</string>
      <string>multiply</string>
      <string>equal</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>plusminus</string>
      <string>logicalnot</string>
      <string>notequal</string>
      <string>infinity</string>
      <string>emptyset</string>
      <string>less</string>
      <string>greater</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>asciicircum</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>fraction</string>
      <string>degree</string>
      <string>mu</string>
      <string>pi</string>
      <string>partialdiff</string>
      <string>integral</string>
      <string>product</string>
      <string>brokenbar</string>
      <string>lozenge</string>
      <string>Omega</string>
      <string>summation</string>
      <string>radical</string>
      <string>Delta</string>
      <string>euro</string>
      <string>dollar</string>
      <string>sterling</string>
      <string>yen</string>
      <string>florin</string>
      <string>cent</string>
      <string>currency</string>
      <string>plus.cap</string>
      <string>minus.cap</string>
      <string>divide.cap</string>
      <string>multiply.cap</string>
      <string>equal.cap</string>
      <string>approxequal.cap</string>
      <string>asciitilde.cap</string>
      <string>plusminus.cap</string>
      <string>logicalnot.cap</string>
      <string>notequal.cap</string>
      <string>infinity.cap</string>
      <string>emptyset.cap</string>
      <string>less.cap</string>
      <string>greater.cap</string>
      <string>lessequal.cap</string>
      <string>greaterequal.cap</string>
      <string>a.sups</string>
      <string>b.sups</string>
      <string>c.sups</string>
      <string>d.sups</string>
      <string>e.sups</string>
      <string>f.sups</string>
      <string>g.sups</string>
      <string>h.sups</string>
      <string>i.sups</string>
      <string>j.sups</string>
      <string>k.sups</string>
      <string>l.sups</string>
      <string>m.sups</string>
      <string>n.sups</string>
      <string>o.sups</string>
      <string>p.sups</string>
      <string>q.sups</string>
      <string>r.sups</string>
      <string>s.sups</string>
      <string>t.sups</string>
      <string>u.sups</string>
      <string>v.sups</string>
      <string>w.sups</string>
      <string>x.sups</string>
      <string>y.sups</string>
      <string>z.sups</string>
      <string>one.sups</string>
      <string>two.sups</string>
      <string>three.sups</string>
      <string>four.sups</string>
      <string>five.sups</string>
      <string>six.sups</string>
      <string>seven.sups</string>
      <string>eight.sups</string>
      <string>nine.sups</string>
      <string>zero.sups</string>
      <string>parenleft.sups</string>
      <string>parenright.sups</string>
      <string>plus.sups</string>
      <string>minus.sups</string>
      <string>equal.sups</string>
      <string>one.subs</string>
      <string>two.subs</string>
      <string>three.subs</string>
      <string>four.subs</string>
      <string>five.subs</string>
      <string>six.subs</string>
      <string>seven.subs</string>
      <string>eight.subs</string>
      <string>nine.subs</string>
      <string>zero.subs</string>
      <string>parenleft.subs</string>
      <string>parenright.subs</string>
      <string>plus.subs</string>
      <string>minus.subs</string>
      <string>equal.subs</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>zero.numr</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
      <string>zero.dnom</string>
      <string>onefraction</string>
      <string>onehalf</string>
      <string>zerothird</string>
      <string>onethird</string>
      <string>twothirds</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>onefifth</string>
      <string>twofifths</string>
      <string>threefifths</string>
      <string>fourfifths</string>
      <string>onesixth</string>
      <string>fivesixths</string>
      <string>oneseventh</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
      <string>oneninth</string>
      <string>onetenth</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>periodcentered.sc</string>
      <string>bullet.sc</string>
      <string>hyphen.sc</string>
      <string>question.sc</string>
      <string>questiondown.sc</string>
      <string>exclam.sc</string>
      <string>exclamdown.sc</string>
      <string>slash.sc</string>
      <string>backslash.sc</string>
      <string>parenleft.sc</string>
      <string>parenright.sc</string>
      <string>bracketleft.sc</string>
      <string>bracketright.sc</string>
      <string>braceleft.sc</string>
      <string>braceright.sc</string>
      <string>bar.sc</string>
      <string>quotesingle.sc</string>
      <string>quotedbl.sc</string>
      <string>minute.sc</string>
      <string>second.sc</string>
      <string>quoteright.sc</string>
      <string>quotedblright.sc</string>
      <string>quoteleft.sc</string>
      <string>quotedblleft.sc</string>
      <string>asterisk.sc</string>
      <string>asterism.sc</string>
      <string>paragraph.sc</string>
      <string>ampersand.sc</string>
      <string>ampersand.altsc</string>
      <string>Euro.sc</string>
      <string>dollar.sc</string>
      <string>sterling.sc</string>
      <string>yen.sc</string>
      <string>numbersign.sc</string>
      <string>percent.sc</string>
      <string>perthousand.sc</string>
      <string>degree.sc</string>
      <string>A.sc</string>
      <string>B.sc</string>
      <string>C.sc</string>
      <string>D.sc</string>
      <string>E.sc</string>
      <string>F.sc</string>
      <string>G.sc</string>
      <string>H.sc</string>
      <string>I.sc</string>
      <string>I.scalt</string>
      <string>J.sc</string>
      <string>K.sc</string>
      <string>L.sc</string>
      <string>M.sc</string>
      <string>N.sc</string>
      <string>O.sc</string>
      <string>P.sc</string>
      <string>Q.sc</string>
      <string>R.sc</string>
      <string>S.sc</string>
      <string>T.sc</string>
      <string>U.sc</string>
      <string>V.sc</string>
      <string>W.sc</string>
      <string>X.sc</string>
      <string>Y.sc</string>
      <string>Z.sc</string>
      <string>Agrave.sc</string>
      <string>Aacute.sc</string>
      <string>Acircumflex.sc</string>
      <string>Atilde.sc</string>
      <string>Adieresis.sc</string>
      <string>Aring.sc</string>
      <string>Aringacute.sc</string>
      <string>Abreve.sc</string>
      <string>Amacron.sc</string>
      <string>Aogonek.sc</string>
      <string>AE.sc</string>
      <string>AEacute.sc</string>
      <string>Cacute.sc</string>
      <string>CacutePolish.sc</string>
      <string>Ccircumflex.sc</string>
      <string>Cdotaccent.sc</string>
      <string>Ccaron.sc</string>
      <string>Ccedilla.sc</string>
      <string>Dcaron.sc</string>
      <string>Dcroat.sc</string>
      <string>Eth.sc</string>
      <string>Egrave.sc</string>
      <string>Eacute.sc</string>
      <string>Ecircumflex.sc</string>
      <string>Edieresis.sc</string>
      <string>Edotaccent.sc</string>
      <string>Emacron.sc</string>
      <string>Ebreve.sc</string>
      <string>Ecaron.sc</string>
      <string>Eogonek.sc</string>
      <string>Gcircumflex.sc</string>
      <string>Gdotaccent.sc</string>
      <string>Gbreve.sc</string>
      <string>Gcommaaccent.sc</string>
      <string>Hcircumflex.sc</string>
      <string>Hbar.sc</string>
      <string>Igrave.sc</string>
      <string>Iacute.sc</string>
      <string>Icircumflex.sc</string>
      <string>Itilde.sc</string>
      <string>Idieresis.sc</string>
      <string>Ibreve.sc</string>
      <string>Imacron.sc</string>
      <string>Idotaccent.sc</string>
      <string>Iogonek.sc</string>
      <string>IJ.sc</string>
      <string>IJacute.sc</string>
      <string>Igrave.scalt</string>
      <string>Iacute.scalt</string>
      <string>Icircumflex.scalt</string>
      <string>Itilde.scalt</string>
      <string>Idieresis.scalt</string>
      <string>Imacron.scalt</string>
      <string>Ibreve.scalt</string>
      <string>Idotaccent.scalt</string>
      <string>Iogonek.scalt</string>
      <string>IJ.scalt</string>
      <string>IJacute.scalt</string>
      <string>Jcircumflex.sc</string>
      <string>Kcommaaccent.sc</string>
      <string>Lacute.sc</string>
      <string>Ldot.sc</string>
      <string>Lcaron.sc</string>
      <string>Lslash.sc</string>
      <string>Lcommaaccent.sc</string>
      <string>Nacute.sc</string>
      <string>NacutePolish.sc</string>
      <string>Ntilde.sc</string>
      <string>Ncaron.sc</string>
      <string>Ncommaaccent.sc</string>
      <string>Eng.sc</string>
      <string>Ograve.sc</string>
      <string>Oacute.sc</string>
      <string>OacutePolish.sc</string>
      <string>Ocircumflex.sc</string>
      <string>Otilde.sc</string>
      <string>Odieresis.sc</string>
      <string>Obreve.sc</string>
      <string>Omacron.sc</string>
      <string>Ohungarumlaut.sc</string>
      <string>Oslash.sc</string>
      <string>Oslashacute.sc</string>
      <string>OE.sc</string>
      <string>Racute.sc</string>
      <string>Rcaron.sc</string>
      <string>Rcommaaccent.sc</string>
      <string>Sacute.sc</string>
      <string>SacutePolish.sc</string>
      <string>Scircumflex.sc</string>
      <string>Scaron.sc</string>
      <string>Scedilla.sc</string>
      <string>Scommaaccent.sc</string>
      <string>germandbls.sc</string>
      <string>Tcaron.sc</string>
      <string>Tbar.sc</string>
      <string>Tcedilla.sc</string>
      <string>Tcommaaccent.sc</string>
      <string>Ugrave.sc</string>
      <string>Uacute.sc</string>
      <string>Ucircumflex.sc</string>
      <string>Utilde.sc</string>
      <string>Udieresis.sc</string>
      <string>Uring.sc</string>
      <string>Ubreve.sc</string>
      <string>Umacron.sc</string>
      <string>Uhungarumlaut.sc</string>
      <string>Uogonek.sc</string>
      <string>Wgrave.sc</string>
      <string>Wacute.sc</string>
      <string>Wcircumflex.sc</string>
      <string>Wdieresis.sc</string>
      <string>Yacute.sc</string>
      <string>Ygrave.sc</string>
      <string>Ycircumflex.sc</string>
      <string>Ydieresis.sc</string>
      <string>Zacute.sc</string>
      <string>ZacutePolish.sc</string>
      <string>Zdotaccent.sc</string>
      <string>Zcaron.sc</string>
      <string>Schwa.sc</string>
      <string>Thorn.sc</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>euro</key>
      <string>Euro</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
  </dict>
</plist>
